###############################################################################
# Set the default behavior, in case people don't have core.autocrlf set.
# Auto detect text files and perform LF normalization
###############################################################################
* text=auto

# Declare files that will always have CRLF line endings on checkout, even on windowns.
*.ts text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.sh text eol=lf

###############################################################################
# Declare files that will always have CRLF line endings on checkout.
###############################################################################
*.sln text eol=crlf
*.bat	text eol=crlf

###############################################################################
# Denote all files that are truly binary and should not be modified.
###############################################################################
*.png binary
*.jpg binary
